### Part 1: Python Syntax (30 points)

Function format_string(name, age) (10 points)

Create a formatted string using f-strings
Return "My name is {name} and I am {age} years old"

In [7]:
def format_string(name, age):
    return f"My name is {name} and I am {age} years old"

Function conditional_check(number) (10 points)

If number > 10: return "Greater"
If number < 10: return "Lesser"
If number == 10: return "Equal"

In [11]:
def conditional_check(number):
    if number > 10:
        return "Greater"
    elif number < 10:
        return "Lesser"
    else:
        return "Equal"

Function loop_sum(n) (10 points)

Use a loop to sum numbers from 1 to n
Return the sum

In [25]:
def loop_sum(n):
    total = 0
    for i in range(1, n + 1):
        total += i
    return total
# loop_sum(3)

### Part 2: Data Structures (40 points)

Function list_operations(numbers) (15 points)

Take a list of numbers
Return a tuple containing:
Sum of all numbers
Maximum number
Minimum number

In [32]:
def list_operations(numbers):
    total_sum = sum(numbers)
    max_number = max(numbers)
    min_number = min(numbers)
    return (total_sum, max_number, min_number)

#number_list  = [ 1, 2, 3, 4, 5, 6]
#print ("The total, max and Minimum  are " ,list_operations(number_list ))

The total, max and Minimum  are  (21, 6, 1)

Function dict_operations(students_dict) (15 points)

Take a dictionary of student names and scores
Return a list of names of students who scored above 80

Function set_operations(list1, list2) (10 points)

Take two lists
Return a set of common elements

### Part 3: Operators (30 points)

Function arithmetic_ops(a, b) (10 points)

Return a dictionary with:
'sum': a + b
'difference': a - b
'product': a * b
'quotient': a / b (handle division by zero)

Function logical_ops(x, y) (10 points)

Return a dictionary with results of:
'and': x and y
'or': x or y
'not_x': not x

Function bitwise_ops(a, b) (10 points)

Return a dictionary with:
'and': a & b
'or': a | b
'xor': a ^ b